.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    background: url("../../../assets/bloco_services.svg") no-repeat left;
    background-size: contain;
    height: 37rem;
    margin-top: 1rem;

    @media (max-width: 768px) {
        background-position-x: -8rem;
    }
    
    @media (max-width: 425px) {
        background: none;
      } 

      @media (max-width: 375px) {
        height: 36rem;
      }
}

.containerText{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: auto 40rem;

    h4{
        font-size: 2rem;
        color: var(--blue-font)
    }
    p{
        font-size: 1rem;
        margin: 1.5rem 0;
        color: var(--gray-font)
    }

    @media (max-width: 1024px) {
        margin: auto 32rem;
      }

    @media (max-width: 768px) {
        margin: auto 22rem;
      }

    @media (max-width: 425px) {
        margin: auto;
      }

      @media (max-width: 375px) {
        width: 270px;
      }
}