.card{
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    flex-direction: column;
    border-radius: 3px;
    width: 80%;
    cursor: pointer;
    box-shadow: 0px 0px 7px 0px gray;
    transition: all 0.2s ease;
    margin: 1rem;

    @media (max-width: 768px) {
        width: 100%;
        margin: 0.6rem;
    }
}

.card:hover {
    transform: scale(1.04);
}

.cardPhoto{   
    img{
        width: 100%;
    }
}

.cardTextButton{ 
    margin: 2rem 1.5rem;

    h4{
        font-size: 1.4rem;
        color: var(--blue-font)
    }

    @media (max-width: 768px) {
        margin: 1rem;
    }
}

.cardAuthor{
    display: flex;
    align-items: center;
    margin-top: 1rem;
    
    img{
        border-radius: 50%;
        
        width: 49px;
        height: 50px;
    }

    h5{
        margin-left: 5px;
        font-size: 1rem;
        color: var(--gray-font);
    }
}