.container{
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.containerTitle{
    margin: 0px 6rem 1rem;

    h2{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        color: var(--blue-font)
    }

    p{
        text-align: center;
        font-size: 1rem;
        line-height: 1.8;
        color: var(--gray-font)
    }

    @media (max-width: 1024px) {
        margin: 0px 2rem 1rem;
    }

    @media (max-width: 768px) {
        margin: 0px 1rem 1rem;
     }
}

.containerCard{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 6rem;

    @media (max-width: 1024px) {
        margin: 1rem 2rem;   
      }

    @media (max-width: 768px) {
        margin: 1rem 1rem;
        grid-template-columns: 1fr;   
      }
    
    @media (max-width: 425px) {
        margin: 1rem 0rem;   
      }
}

